github "SwiftyBeaver/SwiftyBeaver"
github "onmyway133/Arcane"
github "evgenyneu/keychain-swift"
github "Alamofire/Alamofire"
github "realm/realm-cocoa"
github "ZamzamInc/ZamzamKit" "master"
github "ZamzamInc/Stencil" "lite"
github "onevcat/Kingfisher"
