github "ZamzamInc/ZamzamKit"
github "naoty/Timepiece"
github "radex/SwiftyTimer"
github "Alamofire/Alamofire"
github "delba/JASON"
github "onevcat/Kingfisher"
github "duemunk/Async"
github "soffes/RateLimit"
github "ZamzamInc/SwiftyUserDefaults"
github "ZamzamInc/Stencil"
github "ZamzamInc/AlertOnboarding"