<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appName</key>
	<string>Basem Emara</string>
	<key>itunesName</key>
	<string>basememara</string>
	<key>itunesID</key>
	<string>1021806851</string>
	<key>baseURL</key>
	<string>http://basememara.com</string>
	<key>baseREST</key>
	<string>wp-json</string>
	<key>email</key>
	<string>contact@basememara.com</string>
	<key>darkMode</key>
	<false/>
	<key>tintColor</key>
	<string>49,169,234</string>
	<key>titleColor</key>
	<string>51,51,51</string>
	<key>secondaryTintColor</key>
	<string>49,169,234</string>
	<key>tabTitleColor</key>
	<string></string>
	<key>headerImage</key>
	<string></string>
	<key>styleSheet</key>
	<string>http://basememara.com/wp-content/themes/metro-pro/style.css</string>
	<key>googleAnalyticsID</key>
	<string>UA-60131988-2</string>
	<key>featuredCategoryID</key>
	<integer>64</integer>
	<key>designedBy</key>
	<dict>
		<key>title</key>
		<string>Basem Emara</string>
		<key>link</key>
		<string>http://basememara.com</string>
	</dict>
	<key>categories</key>
	<array>
		<dict>
			<key>id</key>
			<string>55</string>
			<key>title</key>
			<string>Swift</string>
			<key>icon</key>
			<string>plugin</string>
		</dict>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>title</key>
			<string>JavaScript</string>
			<key>icon</key>
			<string>source-code</string>
		</dict>
		<dict>
			<key>id</key>
			<string>2</string>
			<key>title</key>
			<string>.NET</string>
			<key>icon</key>
			<string>stack</string>
		</dict>
		<dict>
			<key>id</key>
			<string>4</string>
			<key>title</key>
			<string>Mobile</string>
			<key>icon</key>
			<string>smartphone-tablet</string>
		</dict>
		<dict>
			<key>id</key>
			<string>7</string>
			<key>title</key>
			<string>Web</string>
			<key>icon</key>
			<string>online</string>
		</dict>
	</array>
	<key>social</key>
	<array>
		<dict>
			<key>title</key>
			<string>Facebook</string>
			<key>link</key>
			<string></string>
			<key>app</key>
			<string></string>
			<key>icon</key>
			<string>facebook</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Twitter</string>
			<key>link</key>
			<string>http://twitter.com/basememara</string>
			<key>app</key>
			<string>twitter://user?screen_name=basememara</string>
			<key>icon</key>
			<string>twitter</string>
		</dict>
		<dict>
			<key>title</key>
			<string>GooglePlus</string>
			<key>link</key>
			<string>http://google.com/+BasemEmara</string>
			<key>app</key>
			<string>gplus://plus.google.com/app/basic/+BasemEmara/posts</string>
			<key>icon</key>
			<string>googleplus</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Pinterest</string>
			<key>link</key>
			<string></string>
			<key>app</key>
			<string></string>
			<key>icon</key>
			<string>pinterest</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Instagram</string>
			<key>link</key>
			<string></string>
			<key>app</key>
			<string></string>
			<key>icon</key>
			<string>instagram</string>
		</dict>
		<dict>
			<key>title</key>
			<string>YouTube</string>
			<key>link</key>
			<string></string>
			<key>app</key>
			<string></string>
			<key>icon</key>
			<string>youtube</string>
		</dict>
		<dict>
			<key>title</key>
			<string>LinkedIn</string>
			<key>link</key>
			<string>https://www.linkedin.com/profile/view?id=36761206</string>
			<key>app</key>
			<string>linkedin://profile?id=36761206</string>
			<key>icon</key>
			<string>linkedin</string>
		</dict>
		<dict>
			<key>title</key>
			<string>GitHub</string>
			<key>link</key>
			<string>https://github.com/basememara</string>
			<key>app</key>
			<string></string>
			<key>icon</key>
			<string>github</string>
		</dict>
	</array>
	<key>tutorial</key>
	<array>
		<dict>
			<key>title</key>
			<string>Welcome to Basem Emara&apos;s blog</string>
			<key>desc</key>
			<string>Thank you for downloading my mobile app! The launch of this app was inspired from uncovering the joys, pains, and realities of mobile, web, and software development. Many of my blog posts dissect this very open-source app and other real-world projects.</string>
			<key>image</key>
			<string>page1</string>
			<key>bgImage</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>Blog Posts</string>
			<key>desc</key>
			<string>View my blog posts in an easy to read format. Share directly from within the app. View related posts. Read posts even when you’re offline!</string>
			<key>image</key>
			<string>page2</string>
			<key>bgImage</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>Search</string>
			<key>desc</key>
			<string>Use the search to narrow down your results. Scope them using various filters, such as title, content, and keywords. View your search history to recall previous searches.</string>
			<key>image</key>
			<string>page3</string>
			<key>bgImage</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>Favorites</string>
			<key>desc</key>
			<string>Never forget a blog post again! Mark your favorite posts for easy referencing later. Check out popular posts that the community has found helpful or interesting.</string>
			<key>image</key>
			<string>page4</string>
			<key>bgImage</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>Newsletter</string>
			<key>desc</key>
			<string>Thank you for coming along for the journey; I hope you find it as fun and exciting as I do! Be sure to sign up for my personal newsletter and get the latest happenings, tips, tricks, and tutorials right in your inbox!</string>
			<key>image</key>
			<string>page5</string>
			<key>bgImage</key>
			<string></string>
		</dict>
	</array>
	<key>moreMenu</key>
	<array>
		<dict>
			<key>title</key>
			<string>About this blog</string>
			<key>link</key>
			<string>http://basememara.com/about/?mobileembed=1</string>
			<key>icon</key>
			<string>home</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Subscribe to newsletter</string>
			<key>link</key>
			<string>http://eepurl.com/bt5Y2L</string>
			<key>icon</key>
			<string>signup</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Work with me</string>
			<key>link</key>
			<string>http://basememara.com/portfolio/?mobileembed=1</string>
			<key>icon</key>
			<string>idea</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Read tutorial</string>
			<key>link</key>
			<string>{{tutorial}}</string>
			<key>icon</key>
			<string>literature</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Send us feedback</string>
			<key>link</key>
			<string>{{feedback}}</string>
			<key>icon</key>
			<string>feedback</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Rate our app</string>
			<key>link</key>
			<string>{{rate}}</string>
			<key>icon</key>
			<string>star</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Tell a friend</string>
			<key>link</key>
			<string>{{share}}</string>
			<key>icon</key>
			<string>megaphone</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Disclaimer</string>
			<key>link</key>
			<string>http://basememara.com/disclaimer/?mobileembed=1</string>
			<key>icon</key>
			<string>import</string>
		</dict>
	</array>
</dict>
</plist>
