<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appName</key>
	<string>Nature&apos;s Nurture</string>
	<key>itunesName</key>
	<string>naturesnurture</string>
	<key>itunesID</key>
	<string>992314096</string>
	<key>baseURL</key>
	<string>http://naturesnurtureblog.com</string>
	<key>baseREST</key>
	<string>wp-json</string>
	<key>email</key>
	<string>sarah@naturesnurtureblog.com</string>
	<key>darkMode</key>
	<false/>
	<key>tintColor</key>
	<string>150,199,80</string>
	<key>titleColor</key>
	<string>90,61,35</string>
	<key>tabTitleColor</key>
	<string>120,159,64</string>
	<key>categories</key>
	<array>
		<dict>
			<key>id</key>
			<string>11</string>
			<key>title</key>
			<string>Cleaning</string>
			<key>icon</key>
			<string>housekeeping</string>
		</dict>
		<dict>
			<key>id</key>
			<string>4</string>
			<key>title</key>
			<string>Bath &amp; Body</string>
			<key>icon</key>
			<string>towel</string>
		</dict>
		<dict>
			<key>id</key>
			<string>18</string>
			<key>title</key>
			<string>Food</string>
			<key>icon</key>
			<string>vegan-food</string>
		</dict>
		<dict>
			<key>id</key>
			<string>244</string>
			<key>title</key>
			<string>Health</string>
			<key>icon</key>
			<string>heart-monitor</string>
		</dict>
		<dict>
			<key>id</key>
			<string>7</string>
			<key>title</key>
			<string>Garden</string>
			<key>icon</key>
			<string>flower</string>
		</dict>
		<dict>
			<key>id</key>
			<string>443</string>
			<key>title</key>
			<string>Herbalism</string>
			<key>icon</key>
			<string>leaf</string>
		</dict>
		<dict>
			<key>id</key>
			<string>14</string>
			<key>title</key>
			<string>Kitchen Tips</string>
			<key>icon</key>
			<string>fork</string>
		</dict>
		<dict>
			<key>id</key>
			<string>9</string>
			<key>title</key>
			<string>Green Living</string>
			<key>icon</key>
			<string>tree</string>
		</dict>
		<dict>
			<key>id</key>
			<string>16</string>
			<key>title</key>
			<string>Mothering</string>
			<key>icon</key>
			<string>baby-feet</string>
		</dict>
	</array>
	<key>social</key>
	<array>
		<dict>
			<key>title</key>
			<string>Facebook</string>
			<key>link</key>
			<string>http://facebook.com/naturesnurture</string>
			<key>app</key>
			<string>fb://profile/214317155258266</string>
			<key>icon</key>
			<string>facebook</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Twitter</string>
			<key>link</key>
			<string>http://twitter.com/naturesnurture</string>
			<key>app</key>
			<string>twitter://user?screen_name=naturesnurture</string>
			<key>icon</key>
			<string>twitter</string>
		</dict>
		<dict>
			<key>title</key>
			<string>GooglePlus</string>
			<key>link</key>
			<string>http://google.com/+Naturesnurtureblog</string>
			<key>app</key>
			<string>gplus://plus.google.com/app/basic/+Naturesnurtureblog/posts</string>
			<key>icon</key>
			<string>googleplus</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Pinterest</string>
			<key>link</key>
			<string>http://pinterest.com/naturesnurture</string>
			<key>app</key>
			<string>pinterest://user/naturesnurture</string>
			<key>icon</key>
			<string>pinterest</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Instagram</string>
			<key>link</key>
			<string>http://instagram.com/naturesnurture</string>
			<key>app</key>
			<string>instagram://user?username=naturesnurture</string>
			<key>icon</key>
			<string>instagram</string>
		</dict>
		<dict>
			<key>title</key>
			<string>YouTube</string>
			<key>link</key>
			<string></string>
			<key>app</key>
			<string></string>
			<key>icon</key>
			<string>youtube</string>
		</dict>
		<dict>
			<key>title</key>
			<string>LinkedIn</string>
			<key>link</key>
			<string></string>
			<key>app</key>
			<string></string>
			<key>icon</key>
			<string>linkedin</string>
		</dict>
		<dict>
			<key>title</key>
			<string>GitHub</string>
			<key>link</key>
			<string></string>
			<key>app</key>
			<string></string>
			<key>icon</key>
			<string>github</string>
		</dict>
	</array>
	<key>tutorial</key>
	<array>
		<dict>
			<key>title</key>
			<string>Welcome to Nature’s Nurture!</string>
			<key>desc</key>
			<string>Thank you for downloading the Nature’s Nurture mobile app! We were inspired to create this app because so many of you are viewing our blog on your mobile device. We want this to be a better experience for you with extra perks, like offline capabilities, more sharing options, advanced search, favorites, notifications, and more!</string>
			<key>image</key>
			<string>page1</string>
			<key>bgImage</key>
			<string>bg1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Blog Posts</string>
			<key>desc</key>
			<string>View our blog posts in an easy to read format. Use the search and filters to narrow down your results. Switch between new and unread posts. Share directly from within the app. View related posts. Read posts even when you’re offline!</string>
			<key>image</key>
			<string>page2</string>
			<key>bgImage</key>
			<string>bg1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Favorites</string>
			<key>desc</key>
			<string>Never forget a blog post again! Mark your favorite posts for easy referencing later. Check out popular posts that our community has found helpful or interesting.</string>
			<key>image</key>
			<string>page3</string>
			<key>bgImage</key>
			<string>bg1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Notifications</string>
			<key>desc</key>
			<string>Stay up to date with the latest messages directly from me, Sarah. View our past and current newsletters all in one place. Leave comments on messages and newsletters. Be sure to allow notifications when prompted to get my notifications right on your device.</string>
			<key>image</key>
			<string>page4</string>
			<key>bgImage</key>
			<string>bg1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Newsletter</string>
			<key>desc</key>
			<string>Sign up for our newsletter and get the latest giveaways, tips, tricks, and DIYs right in your inbox!</string>
			<key>image</key>
			<string>page1</string>
			<key>bgImage</key>
			<string>bg1</string>
		</dict>
	</array>
	<key>designedBy</key>
	<string>Zamzam</string>
	<key>designedByURL</key>
	<string>http://zamzam.io</string>
	<key>moreMenu</key>
	<array>
		<dict>
			<key>title</key>
			<string>About this blog</string>
			<key>link</key>
			<string>http://naturesnurtureblog.com/about/?mobileembed=1</string>
			<key>icon</key>
			<string>home</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Subscribe to newsletter</string>
			<key>link</key>
			<string>http://madmimi.com/signups/78082/join</string>
			<key>icon</key>
			<string>signup</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Work with me</string>
			<key>link</key>
			<string>http://naturesnurtureblog.com/pr-friendly/?mobileembed=1</string>
			<key>icon</key>
			<string>idea</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Read tutorial</string>
			<key>link</key>
			<string>{{tutorial}}</string>
			<key>icon</key>
			<string>literature</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Send us feedback</string>
			<key>link</key>
			<string>{{feedback}}</string>
			<key>icon</key>
			<string>feedback</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Rate our app</string>
			<key>link</key>
			<string>{{rate}}</string>
			<key>icon</key>
			<string>star</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Tell a friend</string>
			<key>link</key>
			<string>{{share}}</string>
			<key>icon</key>
			<string>megaphone</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Disclaimer</string>
			<key>link</key>
			<string>http://naturesnurtureblog.com/disclaimer/?mobileembed=1</string>
			<key>icon</key>
			<string>import</string>
		</dict>
	</array>
</dict>
</plist>
